body {
	font-family: sans-serif;
  font-size: 20px;
  background-color: black; 
}

#button:hover {
	background: green;
	color: black;
}

#after_submit {
	visibility: hidden;
	background: #ff5459;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 30px;

}

#picture {
	width: 375px;
	height: 245px;
}
.jumbotron{
  background-color: teal;
}

.container {
  background-color: #ffccc4
}
